* { box-sizing: border-box; }
body    { background-color: #eeddff; color: #322768;         
         font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif }
header  { background-color: #cd87ff; color: #232323; margin-bottom: 0;
          background-repeat: no-repeat; background-position: right; text-align: center; }
header a {text-decoration:wavy; color: #ffffff}
h1      { font-family:'Times New Roman', Times, serif; 
          margin-bottom: 0; margin-top: 0; letter-spacing: 0.2em; }
nav     { font-weight: bold; padding: 0em; font-size:120%; text-align: center; }
nav ul  { list-style-type: none; margin: 0px; padding-left: 0px; font-size: 1.2em; }
nav a   { text-decoration: none; }
nav li  { border-bottom: 1px solid #002171;}
    nav a:visited {color: #fbd1fb; }
    nav a:link {color: #73406b}
    nav a:hover {color: #ffeefe;}
main    { background-color:#ffffff;  padding-top: 1px; padding-right: 20px; 
          padding-bottom: 20px; padding-left: 30px; display: block; overflow: auto;}
h2      {  color: #9b4ef8; text-shadow: 1px 1px #000000; }
h3      {  color: #b57ed0; text-shadow: 1px 1px 1px #4360af}
footer  { font-size: 75% ; font-style: italic; text-align: center; padding: 2em; background-color:#FFFFFF; 
          font-family: Georgia, 'Times New Roman', Times, serif; }
table   { border: 1px solid #fe409c; border-collapse: collapse; color:#a8187a;}
td, th  { padding: 0.5em; border: 1px solid #fe409c; text-align: center;}
    tr:nth-of-type(even) { background-color: #fee4fb;}
form    { display: flex; flex-direction: column; flex-wrap: nowrap;}
input   { margin-bottom: .5em;}
textarea{ margin-bottom: .5em;}
.text   { text-align: left; }
#wrapper { box-shadow: 0px 0px 10px #b33df7; background-color: #90C7E3; background-image: linear-gradient(to bottom, #ff9aff, #fe409c); }

/* medium layout */

@media (min-width: 600px) {

    nav ul {display:flex; flex-wrap:nowrap; justify-content: space-around;}
    nav li {border-bottom: none;}
    section{margin-left: 2em; margin-right: 2em; flex:1}
    form   {width: 60%; max-width: 30em; display: grid; gap: 1em; grid-template: 6em 1em;}
    input[type="submit"] { grid-column: 2 / 3; width: 9em; }
    #flow {display:flex; flex-direction: row;}
}

/* large layout */

@media (min-width: 1024px) {

    #wrapper { border-width: 1px; margin: auto; width: 80%; }
    @supports (display:grid) {

    header { grid-area: header; }
    main { grid-area: main; }
    footer { grid-area: footer; }
    .hero { grid-area: hero; }

   }

}